body {
  background: black;
  margin: auto;
  margin-right: 5px;
}
@media only screen and (min-width: 600px) {
  img {
    justify-content: center;
    width: 500px;
  }
  a {
    font-size: 25px;
  }
  #top {
    width: 40px;
    height: 40px;
  }
  #top > a {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 25px;
  }
}
@media only screen and (max-width: 600px) {
  img {
    width: 70vw;
  }

  a {
    font-size: 3vw;
  }
  #top {
    height: 4vh;
    width: 4vw;
  }
  #top > a {
    position: absolute;
    top: 1vh;
    width: 1vw;
  }
}
@media only screen and (min-width: 1000px) {
  #intro {
    font-size: 90px;
    position: relative;
    text-align: center;
  }
}
@media only screen and (max-width: 1000px) {
  #intro {
    font-size: 6.5vw;
    position: relative;
    text-align: center;
  }
}

#ach {
  position: fixed;
  top: 2vh;
  left: 5vw;
}

#intro {
  font-family: "Cinzel", serif;
  color: rgb(0, 110, 255);
  text-shadow: 1.4vw 1.4vw 1.4vw rgba(12, 141, 228, 0.8);
  top: 8vh;
}

#hobby {
  position: fixed;
  top: 2vh;
  font-size: 1vh;
  right: 5vw;
}

a:visited,
a:link {
  color: rgba(102, 240, 102, 0.4);
  text-decoration: none;
  text-align: center;
  z-index: 2;
  font-weight: bold;
  text-decoration: underline;
}

a:hover {
  color: rgb(102, 240, 102);
  margin: auto;
  text-align: center;
}

#acad {
  font-size: 3.5vh;
  color: rgb(99, 182, 230);
  position: absolute;
  padding: 0;
  margin: 0;
  text-align: center;
  top: 20vh;
  z-index: -1;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#top {
  position: fixed;
  color: black;
  background: rgba(255, 255, 255, 0.267);
  right: 2.5vw;
  border-radius: 25%;
  top: 90vh;
}

#top:hover {
  background: rgb(255, 255, 255);
}

#top > a {
  color: black;
  font-weight: bolder;
  text-decoration: none;
}
