body {
  background: url(/img/blacki_thumbnail-1024x538.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin: 0 !important;
  padding: 2vh !important;
  padding-top: 5vh !important;
  box-sizing: border-box !important;
  margin-bottom: 5vh !important;
}
@media only screen and (min-width: 725px) {
  #intro {
    font-size: 80px;
  }
  a:visited,
  a:link {
    font-size: 25px;
  }
  #con,
  #dob,
  #adr,
  #lang {
    font-size: 30px;
    vertical-align: top;
    box-sizing: border-box;
    text-align: center;
    margin: 5vh 10vw;
  }
  #obj {
    margin-left: 75px !important;
    font-size: 35px;
  }
  #ach {
    right: 25px;
  }
  #home {
    left: 40px;
  }
  #ach,
  #home {
    margin-bottom: 100px !important;
  }
  #con:hover,
  #dob:hover,
  #lang:hover,
  #adr:hover {
    padding: 50px !important;
    transform: translateY(-25px);
    margin-left: 25px;
    margin-right: 25px;
  }
}
@media only screen and (max-width: 725px) {
  #intro {
    font-size: 7vw;
  }
  a:visited,
  a:link {
    font-size: 4vw;
  }
  #con,
  #dob,
  #adr,
  #lang {
    font-size: 5vw;
    vertical-align: top;
    margin-top: 10vh;
    box-sizing: border-box;
    text-align: center;
    margin: 7vh 10vw;
  }

  #obj {
    font-size: 20px;
    margin-left: 2vw;
  }
  #ach {
    right: 5vw;
  }
  #home {
    left: 4vw;
  }
  #con:hover,
  #dob:hover,
  #lang:hover,
  #adr:hover {
    padding: 50px !important;
    transform: translateY(-25px);
    margin-left: 25px;
    margin-right: 25px;
  }
}
@media only screen and (min-width: 1200px) {
  #con,
  #dob,
  #adr,
  #lang {
    font-size: 35px;
    vertical-align: top;
    box-sizing: border-box;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    padding: 40px;
  }

  a:link,
  a:visited {
    font-size: 30px;
  }
  #ach {
    right: 30px;
  }
  #home {
    left: 40px;
  }
  #ach,
  #home {
    margin-bottom: 100px !important;
  }
}
@media only screen and (min-width: 992px) {
  #intro{   
    transform: translateX(40vw) !important;
  }
  
  #con,
  #dob,
  #adr,
  #lang {
    font-size: 35px;
    margin-left: 2.5vw !important;
    margin-right: 2.5vw !important;
    display: inline-block;
    padding: 25px !important;
    transform: translateX(2.5vw);
  }
  #abt {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  #con:hover,
  #dob:hover,
  #lang:hover,
  #adr:hover {
    padding: 50px 25px !important;
    transform: translateY(-25px);
    margin-left: 25px;
    margin-right: 25px;
    transform: translateX(2.5vw);
  }
}

@media only screen and (max-width: 992px) {
  .sep {
    width: 50vw;
    margin-left: 5vw;
    margin-right: 45vw;
    background: rgba(255, 255, 255, 0.527);
    height: 1px;
  }
}
#intro {
  font-family: "Cinzel", serif;
  display: inline-block;
  transform: translateX(35vw);
  color: rgb(0, 110, 255);
  transition: 1s;
}
#intro:hover {
  text-shadow: 1.4vw 1.4vw 1.4vw rgba(12, 141, 228, 0.5);
}
#con,
#dob,
#lang,
#adr {
  border: 3px solid rgba(255, 255, 255, 0.226);
  padding: 25px;
  box-sizing: border-box;
  text-align: center;
  color: white;
  transition: 1s ease-out;
}

#obj {
  color: white;
  left: 100px;
  transition: 1s ease-out;
}

a:link,
a:visited {
  color: rgb(77, 128, 238);
  border: 3px solid rgba(41, 77, 236, 0.404);
  padding: 15px;
  text-decoration: none;
}
#home,
#ach {
  position: absolute !important;
  margin-top: 20px;
  transition: 1s;
}

nav {
  margin-top: -5vh !important;
  margin-left: -2vh;
  margin-right: -2vh;
  background-color: rgb(27, 26, 26) !important;
  transition: 3s !important;
}

nav > a {
  border: none !important;
}

.nav-link {
  border: none !important;
  margin-left: 25px;
}

.navbar-toggler {
  margin-right: 20px;
}

#home:hover {
  transform: translateX(-10px);
}
#ach:hover {
  transform: translateX(10px);
}
