body {
  background: black;
  margin: auto;
  margin-right: 5px;
}
@media only screen and (min-width: 600px) {
  img {
    justify-content: center;
    width: 500px;
  }
}
@media only screen and (max-width: 600px) {
  img {
    width: 70vw;
  }
}

#acads {
  position: fixed;
  top: 2vh;
  left: 5vw;
}

#intro {
  font-family: "Cinzel", serif;
  font-size: 6.5vw;
  color: rgb(0, 110, 255);
  text-shadow: 1.4vw 1.4vw 1.4vw rgba(12, 141, 228, 0.8);
  position: absolute;
  top: 8vh;
  left: 35vw;
}

#home {
  position: fixed;
  top: 2vh;
  font-size: 1vh;
  left: 70vw;
}

a:visited,
a:link {
  color: rgba(102, 240, 102, 0.4);
  text-decoration: none;
  text-align: center;
  font-size: 3vw;
  z-index: 2;
  font-weight: bold;
  text-decoration: underline;
}

a:hover {
  color: rgb(102, 240, 102);
  margin: auto;
  text-align: center;
}

#hobbs {
  font-size: 3.5vh;
  color: rgb(99, 182, 230);
  position: absolute;
  padding: 0;
  margin: 0;
  text-align: center;
  top: 30vh;
  z-index: -1;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#top {
  position: fixed;
  height: 3vw;
  width: 3vw;
  color: black;
  background: rgba(255, 255, 255, 0.575);
  left: 90vw;
  text-align: center;
  border-radius: 25%;
  top: 90vh;
}

#top:hover {
  background: rgb(255, 255, 255);
}

#top > a {
  color: black;
  font-weight: bolder;
}
