body {
  background-color: black;
  margin: 0 !important;
  padding: 2vh !important;
  padding-top: 5vh !important;
  box-sizing: border-box !important;
  margin-bottom: 50px !important;
}
@media only screen and (min-width: 725px) {
  #intro {
    font-size: 80px;
  }
  a:visited,
  a:link {
    font-size: 25px;
  }
  #cod,
  #rdg,
  #tt,
  #fb,
  #sng {
    font-size: 30px;
    /* display: inline-block; */
    vertical-align: top;
    /* width: 50%; */
    box-sizing: border-box;
    text-align: center;
    margin: 5vh 12.5vw;
  }
  img {
    width: 75px;
    height: auto;
  }
  #ach {
    right: 175px;
  }
  #abu {
    left: 40px;
  }
  #ach,
  #abu {
    margin-bottom: 100px !important;
  }
}
@media only screen and (max-width: 725px) {
  #intro {
    font-size: 7vw;
  }
  a:visited,
  a:link {
    font-size: 4vw;
  }
  #cod,
  #rdg,
  #tt,
  #fb,
  #sng {
    font-size: 5vw;
    /* display: inline-block; */
    vertical-align: top;
    /* width: 50%; */
    margin-top: 10vh;
    box-sizing: border-box;
    text-align: center;
    margin: 7vh 10vw;
  }
  img {
    width: 75px;
    height: auto;
  }
  #ach {
    right: 25vw;
  }
  #abu {
    left: 4vw;
  }
}
@media only screen and (min-width: 1200px) {
  /* #cod,
  #rdg,
  #tt,
  #fb,
  #sng {
    font-size: 35px;
    vertical-align: top;
     width: 50%; 
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    margin: 7vh 4vw;
    padding: 40px !important;
  } */

  a:link,
  a:visited {
    font-size: 40px;
  }

  #ach {
    right: 175px;
  }
  #abu {
    left: 40px;
  }
  #ach,
  #abu {
    margin-bottom: 100px !important;
  }
}
@media only screen and (min-width: 992px) {
  img {
    width: 250px;
    height: auto;
  }
  #p1,
  #p2,
  #p3,
  #p4,
  #p5 {
    border: 3px solid rgba(255, 255, 255, 0.226);
    padding: 25px;
    box-sizing: border-box;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-left: 32vw;
    margin-top: -170px;
    font-size: 40px;
  }
  #p1 {
    margin-top: -260px;
  }
  #p2 {
    margin-top: -210px;
  }
  #p3 {
    margin-top: -125px;
  }
  #p5 {
    margin-top: -200px;
  }
  #i1 {
    margin-left: 25px;
    margin-top: 30px;
  }
  #i2 {
    margin-top: 50px;
  }
  #i5 {
    margin-top: 40px;
  }
}

#intro {
  font-family: "Cinzel", serif;
  color: rgb(0, 110, 255);
  text-shadow: 1.4vw 1.4vw 1.4vw rgba(12, 141, 228, 0.8);
  text-align: center;
}

a:visited,
a:link {
  color: rgba(102, 240, 102, 0.4);
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  position: absolute;
  color: darkturquoise;
  border: 3px solid rgba(41, 236, 203, 0.404);
  padding: 15px;
  margin-bottom: 100px !important;
}

a:hover {
  color: rgb(102, 240, 102);
  margin: auto;
  text-align: center;
}

#cod,
#rdg,
#tt,
#fb,
#sng {
  border: 3px solid rgba(255, 255, 255, 0.226);
  padding: 25px;
  box-sizing: border-box;
  text-align: center;
  color: rgb(255, 255, 255);
}

#ach,
#abu {
  position: absolute;
}
