body {
  background: url(/img/blacki_thumbnail-1024x538.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin: 15px !important;
  padding: 2vh !important;
  padding-top: 5vh !important;
  box-sizing: border-box !important;
}
@media only screen and (min-width: 725px) {
  #intro {
    font-size: 80px;
  }
  a:visited,
  a:link {
    font-size: 25px;
  }
  #ches,
  #musi,
  #pain,
  #conv {
    font-size: 30px;
    /* display: inline-block; */
    vertical-align: top;
    /* width: 50%; */
    box-sizing: border-box;
    text-align: center;
    margin: 5vh 15vw;
  }
  img {
    width: 75px;
    height: auto;
  }
  #aca {
    right: 175px;
  }
  #abu {
    left: 40px;
  }
  #aca,
  #abu {
    margin-bottom: 100px !important;
  }
}
@media only screen and (max-width: 725px) {
  #intro {
    font-size: 7vw;
  }
  a:visited,
  a:link {
    font-size: 4vw;
  }
  #ches,
  #musi,
  #pain,
  #conv {
    font-size: 5vw;
    /* display: inline-block; */
    vertical-align: top;
    /* width: 50%; */
    margin-top: 10vh;
    box-sizing: border-box;
    text-align: center;
    margin: 7vh 10vw;
  }
  img {
    width: 75px;
    height: auto;
  }
  #aca {
    right: 30vw;
  }
  #abu {
    left: 4vw;
  }
}
@media only screen and (min-width: 1200px) {
  #ches,
  #musi,
  #pain,
  #conv {
    font-size: 35px;
    vertical-align: top;
    /* width: 50%; */
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    margin: 7vh 4vw;
    padding: 40px !important;
  }

  a:link,
  a:visited {
    font-size: 40px;
  }
  #aca {
    right: 275px;
  }
  #abu {
    left: 40px;
  }
  #aca,
  #abu {
    margin-bottom: 100px !important;
  }
}

@media only screen and (max-width: 992px) {
}
@media only screen and (min-width: 992px) {
  img {
    width: 300px;
  }
  #p1,
  #p2,
  #p3,
  #p4 {
    border: 3px solid rgba(255, 255, 255, 0.226);
    padding: 25px;
    box-sizing: border-box;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-left: 32vw;
    margin-top: -200px;
  }
  #p2 {
    margin-top: -250px;
  }
  #p4 {
    margin-top: -275px;
  }
  #ches,
  #musi,
  #pain,
  #conv {
    margin: 5vh 10vw;
  }

  #i2 {
    margin-top: 50px !important;
  }
  #i4 {
    margin-top: 75px !important;
  }
}
#intro {
  font-family: "Cinzel", serif;
  color: rgb(0, 110, 255);
  /* text-shadow: 1.4vw 1.4vw 1.4vw rgba(12, 141, 228, 0.8); */
  text-align: center;
}

a:visited,
a:link {
  color: rgba(102, 240, 102, 0.4);
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  position: absolute;
  color: darkturquoise;
  border: 3px solid rgba(41, 236, 203, 0.404);
  padding: 15px;
  margin-bottom: 100px !important;
}

a:hover {
  color: rgb(102, 240, 102);
  margin: auto;
  text-align: center;
}

#aca,
#abu {
  position: absolute;
  margin-top: 20px;
}

#ches,
#pain,
#musi,
#conv {
  border: 3px solid rgba(255, 255, 255, 0.226);
  padding: 25px;
  box-sizing: border-box;
  text-align: center;
  color: rgb(255, 255, 255);
}
