body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./img/black_blue_abstract_stripes_513_1920x1080.jpg") center/cover fixed no-repeat;
  height: 100vh;
  width: 100vw;
  margin: auto;
  font-size: 2.5vw;
}

@media only screen and (min-width: 1000px) {
  #intro {
    font-size: 70px;
  }
  #Home {
    top: 25vh;
    height: 8vh;
  }
  #About {
    top: 36vh;
    height: 8vh;
  }
  #achieve {
    top: 47vh;
    height: 8vh;
  }
  #acad {
    top: 58vh;
    height: 8vh;
  }
  #hobby {
    top: 69vh;
    height: 8vh;
  }
  a:visited,
  a:link {
    height: 8vh;
  }
  #quote {
    font-size: 50px !important;
    margin-left: 5vw !important;
  }
  #line2 {
    margin-left: 15vw !important;
    margin-top: -100px;
  }
}
@media only screen and (max-width: 1000px) {
  #con {
    font-size: 3vw;
  }
  #intro {
    font-size: 6.5vw;
  }
  #Home {
    top: 20vh;
    height: 6vh;
  }
  #About {
    top: 28vh;
    height: 6vh;
  }
  #achieve {
    top: 36vh;
    height: 6vh;
  }
  #acad {
    top: 44vh;
    height: 6vh;
  }
  #hobby {
    top: 52vh;
    height: 6vh;
  }
  a:visited,
  a:link {
    height: 6vh;
  }
  #quote {
    font-size: 2.3vw;
  }
  #line2 {
    margin-left: 15vw !important;
  }
}

#intro {
  font-family: "Cinzel", serif;
  position: absolute;
  height: 30vh;
  width: 80vw;
  left: 20vw;
  top: 10vh;
  text-align: center;
  color: rgb(0, 140, 255);
}
#side {
  background: rgb(43, 42, 42);
  height: 100vh;
  width: 20vw;
  position: absolute;
  top: 0;
  z-index: -2;
}

#Home {
  background: rgb(29, 97, 223);
  position: absolute;
  width: 20vw;
}
#About {
  background: rgb(70, 69, 69);
  position: absolute;
  width: 20vw;
}
#achieve {
  background: rgb(70, 69, 69);
  position: absolute;
  width: 20vw;
}
#acad {
  background: rgb(70, 69, 69);
  position: absolute;
  width: 20vw;
}
#hobby {
  background: rgb(70, 69, 69);
  position: absolute;
  width: 20vw;
}

a:hover {
  background-color: rgb(0, 110, 255, 0.5);
  margin: auto;
  position: absolute;
  text-align: center;
}

a:visited,
a:link {
  color: rgba(255, 255, 255, 0.356);
  width: 20vw;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.75s;
}
#quote {
  bottom: 15vh;
  color: rgb(126, 162, 228);
  font-size: 4.5vw;
  left: 25vw;
  margin-right: 5px;
  width: 80vw;
  margin-left: -5vw;
}

#my {
  transform: translate(30vw, 40vh);
  height: 50vh;
  width: 60vw;
  text-align: center;
}
