body {
  background: url(/img/blacki_thumbnail-1024x538.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin: 0 !important;
  padding: 2vh !important;
  padding-top: 5vh !important;
  box-sizing: border-box !important;
  margin-bottom: 50px !important;
}
@media only screen and (min-width: 725px) {
  #intro {
    font-size: 80px;
  }
  a:visited,
  a:link {
    font-size: 25px;
  }
  #cod,
  #rdg,
  #tt,
  #fb,
  #sng {
    font-size: 30px;
    vertical-align: top;
    box-sizing: border-box;
    text-align: center;
    margin: 5vh 50px;
  }
  img {
    width: 75px;
    height: auto;
  }
  #ach {
    right: 40px;
  }
  #abu {
    left: 40px;
  }
  #ach,
  #abu {
    margin-bottom: 100px !important;
  }
}
@media only screen and (max-width: 725px) {
  #intro {
    font-size: 7vw;
  }
  a:visited,
  a:link {
    font-size: 4vw;
  }
  #cod,
  #rdg,
  #tt,
  #fb,
  #sng {
    font-size: 5vw;
    vertical-align: top;
    margin-top: 10vh;
    box-sizing: border-box;
    text-align: center;
    margin: 7vh 50px;
  }
  img {
    width: 75px;
    height: auto;
  }
  #ach {
    right: 4vw;
  }
  #abu {
    left: 4vw;
  }
}
@media only screen and (min-width: 1200px) {
  a:link,
  a:visited {
    font-size: 40px;
  }

  #ach {
    right: 40px;
  }
  #abu {
    left: 40px;
  }
  #ach,
  #abu {
    margin-bottom: 100px !important;
  }
}
@media only screen and (max-width: 992px) {
  .sep {
    width: 50vw;
    margin-left: 5vw;
    margin-right: 45vw;
    background: rgba(255, 255, 255, 0.527);
    height: 1px;
  }
  #cod:hover,
  #rdg:hover,
  #tt:hover,
  #fb:hover,
  #sng:hover {
    padding: 50px !important;
    transform: translateY(-25px);
    margin-left: 25px;
    margin-right: 25px;
  }
}
@media only screen and (min-width: 992px) {
  img {
    height: 200px;
    width: auto;
  }
  #p1,
  #p2,
  #p3,
  #p4,
  #p5 {
    border: 3px solid rgba(255, 255, 255, 0.226);
    padding: 25px;
    box-sizing: border-box;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-left: 32vw;
    margin-top: -170px;
    font-size: 40px;
  }
  #p1 {
    margin-top: -200px;
  }
  #p2 {
    margin-top: -210px;
  }
  #p3 {
    margin-top: -125px;
    transform: translateY(-50px);
  }
  #p5 {
    margin-top: -200px;
  }
  #i1 {
    padding: 20px;
  }
  #i3 {
    margin-top: 0px;
    margin-bottom: 0px;
    transform: translateY(20px);
    /* 
    margin-top: -80px;
    margin-bottom: 0px;
    transform: translateY(50%); */
  }
  #i4 {
    margin-top: 0px;
    margin-bottom: 25px;
  }
  #i5,
  #i2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #cod:hover,
  #rdg:hover,
  #tt:hover,
  #fb:hover,
  #sng:hover {
    padding: 50px !important;
    transform: translateY(-25px);
    margin-left: 25px;
    margin-right: 25px;
  }
  #cod,
  #rdg,
  #tt,
  #fb,
  #sng {
    /* height: 100%;

    display: flex;

    align-items: center;

    justify-content: center; */
  }
}

#intro {
  font-family: "Cinzel", serif;
  color: rgb(0, 110, 255);
  text-align: center;
  transition: 1s;
}
#intro:hover {
  text-shadow: 1.4vw 1.4vw 1.4vw rgba(12, 141, 228, 0.4);
}
a:link,
a:visited {
  color: rgb(77, 128, 238);
  border: 3px solid rgba(41, 77, 236, 0.404);
  padding: 15px;
  text-decoration: none;
}

#cod,
#rdg,
#tt,
#fb,
#sng {
  border: 3px solid rgba(255, 255, 255, 0.226);
  padding: 25px;
  box-sizing: border-box;
  text-align: center;
  color: rgb(255, 255, 255);
  transition: 1s;
}

#ach,
#abu {
  position: absolute;
  transition: 1s;
}

nav {
  margin-top: -5vh !important;
  margin-left: -2vh;
  margin-right: -2vh;
  background-color: rgb(27, 26, 26) !important;
}

nav > a {
  border: none !important;
}

.nav-link {
  border: none !important;
  margin-left: 25px;
}

.navbar-toggler {
  margin-right: 20px;
}

#abu:hover {
  transform: translateX(-10px);
}
#ach:hover {
  transform: translateX(10px);
}
