body {
  background: url(/img/blacki_thumbnail-1024x538.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin: 0 !important;
  padding: 2vh !important;
  padding-top: 5vh !important;
  box-sizing: border-box !important;
}
@media only screen and (min-width: 725px) {
  #intro {
    font-size: 80px;
  }
  a:visited,
  a:link {
    font-size: 25px;
  }
  #ches,
  #musi,
  #pain,
  #conv {
    font-size: 30px;
    vertical-align: top;
    box-sizing: border-box;
    text-align: center;
    margin: 5vh 50px;
  }
  img {
    width: 75px;
    height: auto;
  }
  #aca {
    right: 25px;
  }
  #abu {
    left: 40px;
  }
  #aca,
  #abu {
    margin-bottom: 100px !important;
  }
}
@media only screen and (max-width: 725px) {
  #intro {
    font-size: 7vw;
  }
  a:visited,
  a:link {
    font-size: 4vw;
  }
  #ches,
  #musi,
  #pain,
  #conv {
    font-size: 5vw;
    vertical-align: top;
    margin-top: 10vh;
    box-sizing: border-box;
    text-align: center;
    margin: 7vh 10vw;
  }
  img {
    width: 75px;
    height: auto;
  }
  #aca {
    right: 4vw;
  }
  #abu {
    left: 4vw;
  }
}
@media only screen and (min-width: 1200px) {
  #ches,
  #musi,
  #pain,
  #conv {
    font-size: 35px;
    vertical-align: top;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    margin: 7vh 50px;
    padding: 40px !important;
  }

  a:link,
  a:visited {
    font-size: 40px;
  }
  #aca {
    right: 75px;
  }
  #abu {
    left: 40px;
  }
  #aca,
  #abu {
    margin-bottom: 100px !important;
  }

  nav {
    font-size: 33px;
  }
}
@media only screen and (max-width: 992px) {
  .sep {
    width: 50vw;
    margin-left: 5vw;
    margin-right: 45vw;
    background: rgba(255, 255, 255, 0.527);
    height: 1px;
  }
  #ches:hover,
  #musi:hover,
  #pain:hover,
  #conv:hover {
    padding: 50px !important;
    transform: translateY(-25px);
    margin-left: 25px;
    margin-right: 25px;
  }
}
@media only screen and (min-width: 992px) {
  img {
    width: 300px;
  }
  #p1,
  #p2,
  #p3,
  #p4 {
    border: 3px solid rgba(255, 255, 255, 0.226);
    padding: 25px;
    box-sizing: border-box;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-left: 32vw;
    margin-top: -200px;
  }
  #p2 {
    margin-top: -250px;
  }
  #p4 {
    margin-top: -275px;
  }
  #ches,
  #musi,
  #pain,
  #conv {
    margin: 7vh 50px;
    padding: 40px !important;
  }

  #i2 {
    margin-top: 50px !important;
    transform: translateY(-25px);
  }
  #i4 {
    margin-top: 75px !important;
    transform: translateY(-25px);
  }

  nav {
    font-size: 30px;
  }

  #ches:hover,
  #musi:hover,
  #pain:hover,
  #conv:hover {
    padding: 50px !important;
    transform: translateY(-25px);
    margin-left: 25px;
    margin-right: 25px;
  }
}
#intro {
  font-family: "Cinzel", serif;
  color: rgb(0, 110, 255);
  transition: 1s;
  text-align: center;
}

#intro:hover {
  text-shadow: 1.4vw 1.4vw 1.4vw rgba(12, 141, 228, 0.5);
}

a:link,
a:visited {
  color: rgb(77, 128, 238);
  border: 3px solid rgba(41, 77, 236, 0.404);
  padding: 15px;
  text-decoration: none;
}
#aca,
#abu {
  position: absolute;
  margin-top: 20px;
  transition: 1s;
}

#ches,
#pain,
#musi,
#conv {
  border: 3px solid rgba(255, 255, 255, 0.226);
  padding: 25px;
  box-sizing: border-box;
  text-align: center;
  color: rgb(255, 255, 255);
  transition: 1s;
}

nav {
  margin-top: -5vh !important;
  margin-left: -2vh;
  margin-right: -2vh;
  background-color: rgb(27, 26, 26) !important;
}

nav > a {
  border: none !important;
}

.nav-link {
  border: none !important;
  margin-left: 25px;
}

.navbar-toggler {
  margin-right: 20px;
}
#abu:hover {
  transform: translateX(-10px);
}
#aca:hover {
  transform: translateX(10px);
}
