body {
  background: url(/img/blacki_thumbnail-1024x538.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin: 0 !important;
  padding: 2vh !important;
  padding-top: 5vh !important;
  box-sizing: border-box !important;
}
@media only screen and (min-width: 725px) {
  #intro {
    font-size: 80px;
    margin-top: 2vh;
  }
  a:visited,
  a:link {
    font-size: 25px;
  }
  #s10,
  #s12,
  #exm,
  #pro,
  #eng {
    font-size: 30px;
    /* display: inline-block; */
    vertical-align: top;
    /* width: 50%; */
    box-sizing: border-box;
    text-align: center;
    margin: 5vh 35px;
  }

  img {
    width: 75px;
    height: auto;
  }

  #ach {
    right: 25px;
  }
  #abu {
    left: 25px;
  }
}
@media only screen and (max-width: 725px) {
  #intro {
    font-size: 7vw;
    margin-top: 2vh;
  }
  a:visited,
  a:link {
    font-size: 4vw;
  }
  #s10,
  #s12,
  #exm,
  #pro,
  #eng {
    font-size: 5vw;
    /* display: inline-block; */
    vertical-align: top;
    /* width: 50%; */
    box-sizing: border-box;
    text-align: center;
    margin: 7vh 10vw;
  }
  img {
    width: 15vw;
    height: auto;
  }

  #ach {
    right: 5vw;
  }
  #abu {
    left: 4vw;
  }
}
@media only screen and (min-width: 1200px) {
  #s10,
  #s12,
  #exm,
  #pro,
  #eng {
    font-size: 35px;
    vertical-align: top;
    /* width: 50%; */
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    /* margin-left: 50px;
    margin-right: 50px; */
    padding: 40px !important;
    margin-top: 50px;
  }

  a:link,
  a:visited {
    font-size: 40px;
  }
  img {
    width: 75px;
    height: auto;
  }
}
@media only screen and (min-width: 992px) {
  #intro {
    font-size: 90px;
    position: relative;
    text-align: center;
  }
  body {
    /* padding-right: -20px !important; */
    /* margin-right: -20px !important; */
  }
  #s10,
  #s12,
  #exm,
  #pro,
  #eng {
    font-size: 35px;
    vertical-align: top;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    padding: 40px !important;
    margin-top: 50px;
    margin-right: 25px !important;
    padding-right: 40px !important;
  }
  #s10:hover,
  #s12:hover,
  #exm:hover,
  #pro:hover,
  #eng:hover {
    padding: 65px 40px !important;
    transform: translateY(-25px);
    margin-left: 35px !important;
    margin-right: 35px;
    /* transition-property: padding, margin; */
  }
}

@media only screen and (max-width: 992px) {
  #intro {
    font-size: 6.5vw;
    position: relative;
    text-align: center;
  }
  .sep {
    width: 50vw;
    margin-left: 5vw;
    margin-right: 45vw;
    background: rgba(255, 255, 255, 0.527);
    height: 1px;
  }
  #s10:hover,
  #s12:hover,
  #exm:hover,
  #pro:hover,
  #eng:hover {
    padding: 50px !important;
    /* transform: translateY(-25px); */
    margin-left: 25px;
    margin-right: 25px;
    /* transition-property: padding, margin; */
  }
}

#intro {
  font-family: "Cinzel", serif;
  color: rgb(0, 110, 255);
  transition: 1s;
}

#intro:hover {
  text-shadow: 1.4vw 1.4vw 1.4vw rgba(12, 141, 228, 0.4);
}

a:link,
a:visited {
  color: rgb(77, 128, 238);
  border: 3px solid rgba(41, 77, 236, 0.404);
  padding: 15px;
  text-decoration: none;
}
#s10,
#s12,
#exm,
#pro,
#eng {
  border: 3px solid rgba(255, 255, 255, 0.226);
  padding: 25px;
  box-sizing: border-box;
  text-align: center;
  color: white;
  transition: 1s;
}

#ach,
#abu {
  position: absolute;
  transition: 1s;
}

nav {
  margin-top: -5vh !important;
  margin-left: -2vh;
  margin-right: -2vh;
  background-color: rgb(27, 26, 26) !important;
}

nav > a {
  border: none !important;
}

.nav-link {
  border: none !important;
  margin-left: 25px;
}

.navbar-toggler {
  margin-right: 20px;
}

#abu:hover {
  transform: translateX(-10px);
}
#ach:hover {
  transform: translateX(10px);
}
